*
    box-sizing: border-box
    font-family: Ubuntu , sans-serif
    color: white
    margin: 0
    padding: 0

._container
    max-width: 1290px
    margin-left: auto
    margin-right: auto
    padding-left: 20px
    padding-right: 20px
    @media screen and (max-width:$ipad)
        max-width: 728px
    @media screen and (max-width:$android)
        max-width: 320px

.wrapper
    display: flex
    flex-direction: column
    justify-content: center
