.hero
    &__container

    &__wrap
        border: 2px solid red
        min-height: 750px
        width: 100%
        background: url(../image/hero-back.svg)
        background-repeat: no-repeat
        background-position: bottom
        background-size: contain
        display: flex
        flex-direction: column
        padding-top: 100px
        justify-content: space-between
        

    &__title
        font-weight: 500
        font-size: 24px
        line-height: 130%
        width: 330px
        

    &__name
        font-weight: 700
        font-size: 72px
        line-height: 120%
        text-transform: uppercase
        text-align: center
        
        
        

    &__menu
        display: flex
        align-content: center 
        justify-content: space-between
        
    &__desc
        font-weight: 500
        font-size: 18px
        line-height: 150%
        width: 30%
        min-width:  360px
        
    &__button
        align-self: center
        padding: 15px 40px
        
        
