.school
    &__wrap
        display: grid
        margin-top: 151px
        justify-items: flex-start
        grid-template: 'img title' 'img desc' 'img btn'
        min-height: 913px
        height: 100%
        gap: 0 100px
        @media screen and (max-width:$ipad)
            min-height: 533px
        @media screen and (max-width:$android)
    &__composition
        position: relative
        grid-area: img
       
    &__box1
        
    &__box2
        position: absolute
        top: 493px
        left: 239px
        border: 2px solid #FFFFFF
        border-radius: 300px
        padding: 18px
    &__long-arrow
        position: absolute
        top: 700px
        left: 663px
    &__title
        grid-area: title
    &__desc
        grid-area: desc
        max-width: 520px
        width: 100%
    &__button
        grid-area: btn
    &__arrow
        visibility: hidden
